@use "utils/reset";
@use "variables/global";
@use "themes/normal";
@use "themes/dark";
@use "utils/utils";

.app {
  font: var(--font-m);

  h1 {
    color: var(--primary-color);
  }

  background: var(--bg-color);
  color: var(--secondary-color);
  height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
}
