.button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  background: transparent;
  border: none;
}

.outline {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
