.navbar {
  background: var(--primary-color);
  height: var(--navbar-height);
  display: flex;
  align-items: center;
}

.navbar__inner {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 18px;
}

.switchers {
  display: flex;
  gap: 6px;
}